[data-theme="light"] {
    --text-color: #424242;
    --text-primary-fade: #888D84;
    --text-secondary-fade: #B4B099;
    --primary-color: #E2EADA;
    --primary-dark: #C3C9BC;
    --secondary-color: #F2EFDF;
    --secondary-dark: #EAE1C9;
    --tertiary-color: #D8E8C9;
    --highlight-color: #F5A623;
    --error-color: #B44314;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --text-primary-fade: #989A98;
    --text-secondary-fade: #988A7B;
    --primary-color: #30352E;
    --primary-dark: #27261B;
    --secondary-color: #2A2016;
    --secondary-dark: #1D1207;
    --tertiary-color: #35412F;
    --highlight-color: #F5A623;
    --error-color: #B44314;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 10px;
    margin-left: -1em; // to counter negative margin on `.ui.container` set by semantic-ui
    margin-right: -1em; // to counter negative margin on `.ui.container` set by semantic-ui
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 72px;
    z-index: 10;

    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    font-size: 16px;
}
a.nav-item {
    flex: 1;
    color: var(--text-secondary-fade);
    padding: 0.5em;
    text-align: center;

    &.selected {
        color: var(--highlight-color);
        font-weight: bold;
    }
}
.nav-icon.icon {
    margin: 0.25em;
}
.nav-label {
    font-size: 12px;
    margin: 0.25em;
}

main {
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    overflow: auto;
    padding: 0 0 2em 0;
}

.content {
    .content__header {
        background-color: var(--primary-dark);
        color: var(--text-color);
        font-size: 1.4em;
        font-weight: bold;
        padding: 1.5em 1em;
    }
}

.product {
    display: flex;
    flex-direction: column;

    .product__image {
        display: none;
    }

    .product__availability {
        margin: 0 0.25em;
    }

    .product__name {
        display: flex;
        align-items: center;
    }

    .product__name-inner {
        font-size: 1.4em;
        line-height: 1.2em;
        padding: 0.5em 0;        
    }

    &.product--collapsed {
        .statuses {
            display: none;
        }
    }

    &.product--available {
        .product__availability {
            color: var(--text-color);
        }
    }

    &.product--unavailable {
        .product__availability {
            color: var(--error-color);
        }
    }
}

.statuses {
    display: flex;
    text-align: center;
}

.status {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: var(--text-color);
    
    &.new {
        color: var(--highlight-color);
    }

    &.not-applicable {
        opacity: 0.25;
        color: var(--text-primary-fade);
    }

    &.available {
        color: var(--text-color);
    }

    &.unavailable {
        color: var(--error-color)
    }

    .status__inner {
        flex: 1;
    }

    .icon {
        margin: 0.25em;
    }
}

@media only screen and (min-width: 933px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        position: relative;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 72px;
        z-index: 10;
    
        display: flex;
    }
    a.nav-item {
        display: flex;
        flex: none;
        text-align: left;
    }
    .nav-label {
        font-size: 16px;
    }

    main {
        position: relative;
        padding-top: 96px;
    }

    .content {
        .content__header {
            padding: 0.75em 0.25em;
        }
    }

    .product {
        flex-direction: row;
        align-items: stretch;

        .product__image {
            display: block;
            
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    
        .product__name {
            width: 240px;
        }

        .product__name-inner {
            padding: 0.5em 1em;
        }

        &.product--collapsed {
            .statuses {
                display: flex;
            }
        }
    }

    .statuses {
        flex: 1;
        font-size: 1.2em;
    }
}