[data-theme="light"] {
    --text-color: #424242;
    --text-shadow: rgba(255, 255, 255, 0.5);
    --text-primary-fade: #888D84;
    --text-secondary-fade: #B4B099;
    --bg-color: #eaf8dc;
    --primary-color: #E2EADA;
    --primary-alt: #C8D3BC;
    --secondary-color: #F2EFDF;
    --secondary-alt: #EAE1C9;
    --tertiary-color: #D8E8C9;
    --highlight-color: #F5A623;
    --highlight-fade: rgba(245, 166, 35, 0.5);
    --error-color: #B44314;
    --image-border-color: rgba(136, 141, 132, 0.15);
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --text-shadow: rgba(0, 0, 0, 0.5);
    --text-primary-fade: #989A98;
    --text-secondary-fade: #988A7B;
    --bg-color: #1c2018;
    --primary-color: #30352E;
    --primary-alt: #414438;
    --secondary-color: #2A2016;
    --secondary-alt: #1D1207;
    --tertiary-color: #35412F;
    --highlight-color: #F5A623;
    --highlight-fade: rgba(245, 166, 35, 0.5);
    --error-color: #ff6d26;
    --image-border-color: transparent;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Avenir Next', 'Nunito', sans-serif;
    font-size: 10px;

    transition: background-color 0.25s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    font-size: 16px;
}

.brand-logo {
    color: #B99161;
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 0.5em;
    transform: scaleX(0.9);
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--secondary-color);
    color: var(--text-color);

    transition: background-color 0.25s;
}
.navbar-item {
    padding: 1.25em;
    color: var(--text-secondary-fade);
}

.navmenu {
    width: 100%;
    height: auto;
    max-height: 0px;

    background-color: var(--secondary-alt);
    margin-top: 60px;
    overflow: hidden;
    transition: max-height 0.25s, background-color 0.25s;
}
.navmenu--open {
    max-height: 240px;
}
a.navmenu-item {
    color: var(--text-secondary-fade);
    display: block;
    padding: 0.5em;
    text-align: center;

    &.selected {
        color: var(--text-color);
        font-weight: 600;
    }
}
.navmenu-item__icon.icon {
    margin: 0.25em;
}
.navmenu-item__label {
    padding: 0.5em;
}
.navmenu-toggle {
    margin: 0 0.5em;

    .icon {
        transition: transform 0.25s;
        transform: rotate(0deg);
        transform-origin: 50% 40%;
    }

    &.navmenu-toggle--flipv {
        .icon {
            transform: rotate(180deg);
        }
    }
}

.about {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin-top: -200%;
    transition: margin-top 0.25s, background-color 0.25s;
    z-index: 9999;

    display: flex;
    align-items: center;

    background-color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.6em;
    overflow: hidden;
    padding: 3em;

    &.about--show {
        margin-top: 0;
    }
}
.about__nav {
    position: absolute;
    padding: 2em;
    top: 0;
    left: 0;

    font-size: 1.5em;
}

.toggle {
    border: 1px solid var(--text-secondary-fade);
    border-radius: 6px;
    display: flex;
    overflow: hidden;
}
.toggle-button {
    border-right: 1px solid var(--text-secondary-fade);
    color: var(--text-secondary-fade);
    cursor: pointer;
    flex: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;

    &.active {
        background-color: var(--highlight-fade);
        color: var(--text-color);
        font-weight: 600;
    }

    &:last-child {
        border-right: none;
    }
}



main {
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 60px 0 2em 0;

    transition: background-color 0.25s;
}

.view {
    &.view--stretch {
        flex: 1;
        display: flex;
    }
    &.view--center {
        align-items: center;
        justify-content: center;
    }
}

.view-header {
    font-size: 1.4em;
    padding: 1em 1.5em;
}
.view-title {
    margin-bottom: 0.5em;
}
.view-description {
    color: var(--text-primary-fade);
    font-size: 0.8em;
}
.view-loader {
    font-size: 1.2em;
    margin: 3em auto;
    text-align: center;
}
.loader-icon {
    margin: 1em auto;
    width: 80px;
}


.content {
    border-bottom: 1px solid var(--primary-color);
}
.content__header {
    background-color: var(--primary-alt);
    color: var(--text-color);
    font-size: 1.4em;
    padding: 1em 1.5em;
    position: relative;

    .descriptor {
        color: var(--text-primary-fade);
        font-size: 0.8em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
}
.content-toggle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;

    cursor: pointer;
    padding: 0 1.5em;

    .icon {
        color: var(--text-primary-fade);
        transition: transform 0.25s;
    }

    &.content-toggle--collapsed .icon {
        transform: rotate(180deg);
        transform-origin: 50% 45%;
    }
}
.content__main {
    overflow: hidden;
}

.product {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 1.5em;
    padding: 1em 2em;

    &.product--available {
        .product__availability {
            display: none;
            color: var(--text-color);
        }
    }

    &.product--unavailable {
        .product__availability {
            color: var(--error-color);
        }
    }
}
.product__image {
    display: block;
    
    width: 80px;
    height: 80px;
    object-fit: cover;

    background-color: var(--primary-alt);
    border: 1px solid var(--image-border-color);
    border-radius: 2px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.25s;

        &.lazy-image--loading {
            opacity: 0;
        }
    }
}

.product__content {
    flex: 1;
}

.product__availability {
    margin: 0 0.25em;
}

.product__name {
    display: flex;
    align-items: center;

    text-shadow: 1px 1px 0px var(--text-shadow);
}

.product__name-inner {
    font-size: 1.6em;
    line-height: 1.2em;
}

.statuses {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.status {
    display: flex;
    align-items: center;
    margin-top: 1em;
    color: var(--text-primary-fade);

    &.new {
        .icon {
            color: var(--highlight-color);
        }
    }

    &.not-applicable {
        opacity: 0.25;

        .icon {
            color: var(--text-primary-fade);
        }
    }

    &.available {
        .icon {
            color: var(--text-color);
        }
    }

    &.unavailable {
        .icon {
            color: var(--error-color);
        }
    }

    .status__inner {
        flex: 1;
    }

    .icon {
        font-size: 1.8em;
        margin: 0.5em 0;
        text-shadow: 1px 1px 0px var(--text-shadow);
    }
}

@media only screen and (max-width: 767px) {
    .mobile.hidden {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 12px;
    }

    header {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        width: 300px;

        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        transition: background-color 0.25s;
    }

    .navmenu {
        background-color: var(--secondary-color);
        max-height: inherit;
        margin-top: 90%;
        overflow: auto;
    }
    .about {
        position: static;
        height: auto;
        margin-top: 0;
        z-index: 0;
    
        display: flex;
        align-items: center;
    
        background-color: var(--secondary-color);
        font-size: 14px;
        line-height: 1.6em;
        overflow: hidden;
        padding: 3em 2em;  

        transition: background-color 0.25s;
    }

    main {
        padding: 0 0 2em 300px;
        max-width: 900px;
    }

    .content__header {
        padding: 1em 1.5em;
    }

    .product {
        grid-template-columns: 100px auto;
        padding: 1.5em 2em;
    }

    .product__image {
        width: 100px;
        height: 100px;
    }

    .mobile.only {
        display: none;
    }
}